example-spacer {
    flex: 1 1 auto;
  }
  .badge{
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 12px;
    line-height: 13px;
    border-radius: 50%;
    /* width: 13px; */
    /* height: 26px; */
    background-color: #ff0000;
    /* border: 4px solid #ff0000; */
    color: #ffffff;
    text-align: center;
  }
  .example-header-image {
    background-image: url("../../../assets/IMG/pexels-designecologist-1328545.jpg");
    background-size: cover;
   
    border-radius: 50%;
  }
  
  .notificationsList{
    width: 265px;
      height: 400px;
      background-color: black;
      border-radius: 10px;
      position: absolute;
      right: 45px;
      overflow-y: auto;
  }
  .mat-card{
  height: 96px;
  } 
  ::ng-deep .mat-card-header-text{
    width: 200px !important;
  }
  
  
  